<!doctype html>
<html lang="en">
  {{partial "head" . }}

  <body class="{{ .Params.class | default "profile-page" }} sidebar-collapse">
    {{ partial "nav" . }}
    <div class="{{ .Params.wrapper | default "wrapper" }}">
    {{ if .IsHome }}

    {{ end }}
    {{ block "title" . }}
    {{ end }}

    <div class="{{ .Params.section | default "section"}}">
      <div class="container">
        {{ if not .IsHome }}
          {{ block "body" . }}
          {{ end }}
        {{ end }}

        {{ if .IsHome }}
          <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "orange" }}">
            <div class="container">
              <br>
              <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/yfpUBoa-F9Q?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <a href="https://store.steampowered.com/app/1087310/DOOMTANK/"><img src="/img/platforms/steam.png" alt="DOOMTANK on Steam" id="steam_logo"></a>
              <a href="https://play.google.com/store/apps/details?id=com.UnibearStudio.DOOMTANK&hl=en_US"><img src="/img/platforms/playstore.png"  alt="DOOMTANK on Play Store" id="playstore_logo"></a>
            </div>
          </div>
          <br>
          <h2 class="blockquote blockquote-primary">Unibear Studio : Ferociously Unique</h2>
          <h4>Video games are in our blood. Playing games is great, but all of us here at Unibear Studio have dreamed of creating our own games to creatively express ourselves while sharing our stories. Our mission is to deliver quality games that have meaning, depth, and personality that excite, immerse, and engage you, the player.</h4>
          {{ end }}
      </div>
    </div>
    {{ partial "footer" . }}
  </div>
</body>
{{partial "javascript" . }}
</html>
